<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="ConnectionString" value="--" />
      <add key="RawRecordsTableName" value="--" />
      <add key="AggTableName" value="--" />
      <add key="R_UserName" value="-- " />
      <add key="R_Password" value="--" />
      <add key="R_Auth" value="--" />
      <add key="TextminingEndpoint" value="--" />
      <add key="TextminingCredentials" value="--" />
      <add key="BlackListedTickers" value="ARE;FREE;APPS;IPO;MAX;TV;GOOD;TIL;IRA;RAM;GDP;GAIN;ON" />
      <add key="Subreddits" value="Finance;Stocks;investing;wallstreetbets;Wallstreetbetsnew;StockMarket"/>
    </appSettings>
</configuration>